/* * {
    outline: 1px solid red;
} */

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    /* overflow: hidden;  */
    font-family: 'Lato';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.headerrightdiv {
    display: flex;
    width: 65vw;
    justify-content: space-between;
}

.headerIconDiv {
    display: flex;
    justify-content: space-evenly;
    width: 332px;
    align-items: center;
}

.headerIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;

}

.headerprofilIcon {
    border-radius: 50%;
    width: 35px;
    height: 36px;
}

.logo {
    width: 128px;
    height: 48px;
    object-fit: cover;
}

.searchInput {
    border-radius: 4px;
    height: 32px;
    width: 214px;
    background-image: url(img/lupe.png);
    background-position: 36px 2px;
    background-repeat: no-repeat;
    background-color: #EFEFEF;
    border: hidden;
    cursor: pointer;
}

::placeholder {
    text-align: center;
}

.mainDiv {
    display: flex;
    margin-right: 16px;
    width: 80vw;
    justify-content: center;
}

.aside {
    margin-left: 8px;
}

.linkDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4px;
    padding: 12px;
    border-radius: 4px;
}

.linkDiv:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.menuLink {
    margin-left: 8px;
}

.mainDiv {
    display: flex;
}

.wholebodyDiv {
    display: flex;
}

.profilArticle {
    width: 376px;
    margin-top: 50px;
    font-weight: bold;
}

.profilImage {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin: 8px;
    cursor: pointer;
}

.ownerprofilSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.ownerprofil {
    display: flex;
    justify-content: space-around;
}

.profilSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.profilheader {
    display: flex;
    width: 376px;
    align-items: center;
    justify-content: space-between;
}

.h3 {
    color: gray;
}

.d-none {
    display: none;
}

.profil {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 376px;
    align-items: center;
}

.names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    gap: 8px;
    cursor: pointer;
}

.persons {
    display: flex;
    cursor: pointer;
}

.profilButtons {
    height: 24px;
    background: none;
    border: none;
    color: #5fa9da;
    font-weight: bold;
    cursor: pointer;
}

.greyColor {
    color: #b4b2b2;
}

.postlist {
    margin: 16px;
}

.singlepost {
    width: 480px;
    padding-bottom: 20px;
    margin-bottom: 16px;
    border-bottom: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: #DBDBDB;
}

.postheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profildata {
    display: flex;
}

.userdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postImage {
    object-fit: cover;
    width: 480px;
}

.postdata {
    margin: 0;
}

.postIconDiv {
    display: flex;
    justify-content: space-between;
}

.postIconsLeft {
    display: flex;
    gap: 16px;
    margin-left: 8px;
}

.postIconsRight {
    margin-right: 8px;
}

.imagesubtext {
    display: flex;
    flex-direction: column;
}

.likes {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
}


.descriptionDiv {
    display: flex;
    flex-direction: column;
}

.descriptionheader {
    color: rgb(38, 38, 38);
    font-weight: bold;
    margin-right: 8px;
}

.postsubline {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.commentinguser {
    margin-right: 8px;
    font-weight: bold;
}

.commentDiv {
    margin: 0;
    margin-bottom: 16px;
}

.singleComment {
    margin-bottom: 4px;
}

.postbutton {
    cursor: pointer;
    border: none;
    color: #5fa9da;
    background-color: white;
}

.commentInput {
    width: 576px;
    border: none;
    height: 36px;

}

input[type="comment"]::placeholder {
    text-align: left;
}

@media(max-width: 1120px) {

    .profilArticle,
    .profil,
    .profilheader {
        width: 256px;
    }
}

@media(max-width: 1000px) {
    .menuLink {
        display: none;
    }
}

@media(max-width: 860px) {

    .searchInput,
    .profilArticle {
        display: none;
    }

    .wholebodyDiv {
        justify-content: space-between;
    }

}

@media(max-width: 600px) {
    .aside {
        display: none;
    }

    .singlepost,
    .postImage {
        width: 80vw;
    }

    .header {
        justify-content: flex-start;
    }

    .wholebodyDiv {
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 440px) {
    .headerIconDiv {
        display: none;
    }
}